/*
0 - 650px:      Telefone
650 - 900px:    Tablet em retrato
900 - 1200px:   Tablet em paisagem
1200 - 1800px:  estilo normal
1800px + :Desktop grande
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
}

header .logo {
  color: #3b3548;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

header .logo:hover {
  color: #7843e9;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  color: #3b3548;
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 26px 20px;
  text-align: right;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #7843e9;
}

.menu-hamburguer {
  display: none;
  font-size: 18px;
  padding: 26px 0px;
}

.menu-hamburguer:hover {
  color: #7843e9;
  transition: color 0.5s ease;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.section-home {
  background: linear-gradient(
    to bottom right,
    rgba(245, 245, 245, 0.8),
    rgba(172, 172, 172, 0.904)
  );
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.section-home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  text-align: center;
}

.section-home .title {
  color: #111;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-home p {
  color: #3b3548;
  font-size: 22px;
}

.btn-home {
  background-color: #7843e9;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 50px;
  padding: 15px 80px;
  text-align: center;
  text-transform: uppercase;
}

.div-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 40px;
  gap: 20px;
}

.section-sobre {
  align-items: center;
  background: linear-gradient(
    to top right,
    rgb(255, 255, 255),
    rgba(172, 172, 172, 0.904)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre-title {
  color: #111;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top: 100px;
  text-transform: uppercase;
}

.ico {
  color: #7843e9;
  font-size: 30px;
  margin-bottom: 100px;
}

.sobre-container {
  align-items: first baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.div-conhecer {
  order: 1;
  width: 40%;
}

.div-conhecer h3 {
  margin-bottom: 70px;
}

.sobre-container h3 {
  color: #111;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.sobre-container p {
  color: #3b3548;
  font-size: 16px;
  margin-top: 10px;
}

.div-habilidades {
  order: 2;
  width: 40%;
}

.div-habilidades h3 {
  margin-bottom: 20px;
}

.habilidades-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.habilidade-box {
  background-color: #9993;
  border-radius: 5px;
  color: #3b3548;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 15px 40px 0px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
}

.section-projetos {
  background: linear-gradient(
    to bottom right,
    rgba(245, 245, 245, 0.8),
    rgba(172, 172, 172, 0.904)
  );
  text-align: center;
  padding-bottom: 100px;
}

.projetos-title {
  color: #111;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 3px;
  padding-top: 100px;
  text-transform: uppercase;
}

.projetos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0px;
  width: 90%;
  align-items: center;
}

.img-projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  order: 1;
}

.img-box {
  border: 5px solid #3b3548;
  width: 90%;
  height: 300px;
}

.descricao-projetos {
  text-align: left;
  width: 40%;
  order: 2;
}

.descricao-projetos h3 {
  text-align: center;
  color: #111;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.descricao-projetos p {
  color: #3b3548;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.section-contato {
  align-items: center;
  background: linear-gradient(
    to top right,
    rgb(255, 255, 255),
    rgba(172, 172, 172, 0.904)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-contato h2 {
  color: #111;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top: 100px;
  text-transform: uppercase;
}

.section-contato p {
  color: #3b3548;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.section-contato i {
  color: #7843e9;
  font-size: 30px;
  margin-bottom: 100px;
}

.section-contato span {
  color: #111;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
  width: 90%;
}

.contato-box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.contato-box i {
  color: #3b3548;
  margin: 0;
  padding: 20px;
  font-size: 50px;
}

.contato-box i:hover {
  color: #7843e9;
}

.contato-box span {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
}

/* Media query para celular (600px) */
@media (max-width: 650px) {
  .hamburger {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 50px;
    background: #fff;
    padding: 10px;
    transition: 0.4s;
  }

  header #nav_check:checked ~ nav {
    left: 0;
  }

  header nav ul {
    display: block;
  }

  header nav ul li a {
    margin: 0px 0;
  }

  .section-home .title {
    font-size: 50px;
  }

  .section-home p {
    font-size: 16px;
    padding-top: 50px;
  }

  .sobre-container {
    flex-direction: column;
    width: 100%;
  }

  .sobre-container {
    align-items: normal;
    flex-direction: column;
    gap: 100px;
    width: 90%;
  }

  .div-conhecer {
    width: 100%;
  }

  .div-habilidades {
    width: 100%;
  }

  .sobre-container h3 {
    text-align: center;
  }

  .projetos-container {
    display: flex;
    margin: 100px 0px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .img-projetos {
    width: 90%;
    margin-bottom: 50px;
  }

  .img-box {
    width: 90%;
    height: 250px;
  }
}

/* Media query para tablet em retrato (650 - 900px) */
@media (min-width: 650px) and (max-width: 900px) {
  .section-home .title {
    font-size: 50px;
  }

  .section-home p {
    font-size: 18px;
  }

  .sobre-container {
    align-items: normal;
    flex-direction: column;
    gap: 100px;
    width: 80%;
  }

  .div-conhecer {
    width: 100%;
  }

  .div-habilidades {
    width: 100%;
  }

  .sobre-container h3 {
    text-align: center;
  }

  .img-box {
    height: 200px;
  }

  .projetos-container {
    display: flex;
    margin: 100px 0px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .img-projetos {
    width: 90%;
    margin-bottom: 50px;
  }

  .img-box {
    width: 60%;
    height: 250px;
  }
}

/* Media query para tablet em paisagem (900 - 1200px) */
@media (min-width: 900px) and (max-width: 1200px) {
  .section-home .title {
    font-size: 50px;
  }

  .section-home p {
    font-size: 20px;
  }

  .img-box {
    height: 250px;
  }
}
